body {
  background-color: black;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  height: 100%;
}

.vs-column, .middle {
  width: 100%;
  display: flex;
  min-width: 33.3%;
  max-width: 33.3%;
}

.athlete-image {
  width: 100%;
  height: 100%;
  align-self: flex-end;
  position: relative;
  display: flex;
  justify-content: center;
}

.vs-column .athlete-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.athlete-name {
  color: white;
  font-size: xx-large;
  position: absolute;
  bottom: 17.5vw;
  text-align: center;
}

.left-1 {
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-right: 3vw solid white;
  position: absolute;
  left: 0; top: 50%; bottom: 50%;
  margin: auto;
}

.right-1 {
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-left: 3vw solid white;
  position: absolute;
  right: 0; top: 50%; bottom: 50%;
  margin: auto;
}

.left-2 {
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-right: 3vw solid white;
  position: absolute;
  left: 0; top: 50%; bottom: 50%;
  margin: auto;
}

.right-2 {
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-left: 3vw solid white;
  position: absolute;
  right: 0; top: 50%; bottom: 50%;
  margin: auto;
}

.middle {
  background-color: white;
  flex-direction: column;
}

.FPG {
  font-size: 5vw;
  text-align: center;
}

.WHO-EARNS-MORE {
  font-size: 2vw;
  text-align: center;
}

.table-1 {
  margin: auto;
  width: 95%;
}

.table-2, .table-3 {
  display: none;
}

.row {
  background-color: grey;
  color: white;
  text-align: center;
  margin: 3%;
  padding: 3%;
  font-size: 1.25vw;
}


@media (orientation: portrait) {
  .container {
    flex-direction: column;
  }

  .vs-column {
    min-width: 100%;
    min-height: 44.99%;
    max-height: 44.99%;
  }

  .athlete-image {
    height: 100%;
    width: 50%;
  }
  
  .vs-column .athlete-image img {
    height: 100%;
    width: 100%;
  }

  .athlete-image-2 {
    margin-right: 0;
  }

  .athlete-name {
    bottom: 17.5vw;
  }

  .table-1 {
    display: none;
  }

  .table {
    width: 50%;
    display: flex;
    align-items: center;
  }

  .right {
    justify-content: flex-end;
  }

  .table-2, .table-3 {
    display: block;
    width: 95%;
    background-color: white;
    border: 0.1rem solid white;
  }

  .row {
    margin: 2.5%;
    font-size: small;
    padding: 3.5%;
  }

  .middle {
    min-width: 100%;
    height: 9.99%;
    max-height: 9.99%;
  }

  .FPG {
    font-size: 2.5rem;
    margin: auto;
  }
  
  .WHO-EARNS-MORE {
    font-size: 1rem;
    margin: auto;
  }
}
/*
{
  top: 0; bottom: 0; left: 0; right: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  border: 5px solid red;
}
{
  min-width: 33.33%;
  min-width: 33.33%;
}
{
  align-self: flex-end;
  align-self: self-end;
  align-items: flex-end;
  align-content: flex-end;
  position: relative;
  margin-bottom: 0;
  bottom: 0;
}
{
  align-items: center;
  justify-content: center;
}
.vs-column:first-child {
  flex: 1 !important;
}
.vs {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-49%, -100%);
    font-weight: 700;
  }
.table-3, .table-4 {
  display: inline-table;
}
td, th{
  padding-right: 3vw;
  padding-left: 3vw;
  -webkit-text-stroke: 0;
}
.left-1:hover, .right-1:hover, .left-2:hover, .right-2:hover {
  height: 13%;
  cursor: pointer;
}
.left-1:active, .right-1:active, .left-2:active, .right-2:active {
  height: 12%;
}
*/