body {
  background-color: black;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  height: 100%;
}

.athlete-image {
  width: 100%;
  align-self: flex-end;
  position: relative;
  display: flex;
  justify-content: center;
}

.vs-column .athlete-image img {
  width: min(100%, auto);
  height: min(100%, auto);
  max-width: 100%;
  max-height: 100%;
}

.vs-column .athlete-image img {
  width: min(100%, auto);
  height: min(100%, auto);
  max-width: 100%;
  max-height: 100%;
}

.athlete-name {
  color: white;
  font-size: 3rem;
  position: absolute;
  bottom: 10%;
  text-align: center;
}

.left-1 {
  width: 0;
  height: 0;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-right: 3rem solid white;
  position: absolute;
  left: 0; top: 50%; bottom: 50%;
  margin: auto;
}

.right-1 {
  width: 0;
  height: 0;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-left: 3rem solid white;
  position: absolute;
  right: 0; top: 50%; bottom: 50%;
  margin: auto;
}

.left-2 {
  width: 0;
  height: 0;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-right: 3rem solid white;
  position: absolute;
  left: 0; top: 50%; bottom: 50%;
  margin: auto;
}

.right-2 {
  width: 0;
  height: 0;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-left: 3rem solid white;
  position: absolute;
  right: 0; top: 50%; bottom: 50%;
  margin: auto;
}

.middle {
  background-color: white;
  flex-direction: column;
}

.FPG {
  font-size: 5rem;
  text-align: center;
}

.WHO-EARNS-MORE {
  font-size: 2rem;
  text-align: center;
}

.table-1 {
  margin: auto;
  width: 95%;
}

.table-2, .table-3 {
  display: none;
}

.row {
  background-color: grey;
  color: white;
  text-align: center;
  margin: 3%;
  padding: 3%;
}


@media (orientation: portrait) {
/*@media (max-width: 800px) {*/
  .container {
    flex-direction: column;
  }

  .vs-column {
    min-width: 100%;
    min-height: 44.99%;
    max-height: 44.99%;
  }

  .athlete-image {
    height: 100%;
    width: 50%;
  }
  
  .vs-column .athlete-image img {
    height: 100%;
    /*width: min(100%, auto);
    height: min(100%, auto);*/
  }

  .athlete-image-2 {
    margin-right: 0;
  }

  .athlete-name {
    color: white;
    font-size: 1.5rem;
    position: absolute;
    bottom: 10%;
  }

  .left-1 {
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-right: 2rem solid white;
  }
  
  .right-1 {
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-left: 2rem solid white;
  }
  
  .left-2 {
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-right: 2rem solid white;
  }
  
  .right-2 {
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-left: 2rem solid white;
  }

  .table-1 {
    display: none;
  }

  .table {
    width: 50%;
    display: flex;
    align-items: center;
  }

  .right {
    justify-content: flex-end;
  }

  .table-2, .table-3 {
    display: block;
    width: 75%;
    background-color: white;
    border: 0.75rem solid white;
  }

  .row {
    margin: 2.5%;
    font-size: small;
    padding: 3.5%;
  }

  .middle {
    min-width: 100%;
    height: 9.99%;
    max-height: 9.99%;
  }

  .FPG {
    font-size: 3rem;
    text-align: center;
  }
  
  .WHO-EARNS-MORE {
    font-size: 1rem;
    text-align: center;
  }
}
